<div class="row">
  <div class="col col-lg-3" style="border:1px solid black;">
    <%= render 'layouts/side_nav' %>
  </div>
  <div class="col side-pad" style="border:1px solid black; ">
    <div class="col-lg-12" style="padding:0">
      <%= render 'layouts/header' %>
    </div>

    <div class="row" style="border:1px solid black; padding: 0;">
      
      <div class="col col-lg-12" style="border:1px solid black; ">
        <div><%= render 'opinions/partials/form' %></div>
      </div>
     
      
    </div>
  </div>
</div>



 