
  <div class="row">
    <div class="col col-lg-3" style="border:1px solid black;">
      <%= render 'layouts/side_nav' %>
    </div>
    <div class="col side-pad" style="border:1px solid black; ">
      <div class="col-lg-12" style="padding:0"><%= render 'layouts/header' %></div>

      <div class="row" style="border:1px solid black; padding: 0;">
        
        <div class="col col-lg-9" style="border:1px solid black; ">
          <h3> Hello world </h3>
        </div>
        <div class="col">
          <h6>hello there</h6>
        </div>
        
      </div>
    </div>
  </div>



 