<div class="row">
  <div class="col col-lg-3" style="border:1px solid black;">
    <%= render 'layouts/side_nav' %>
  </div>
  <div class="col side-pad" style="border:1px solid black; ">
    <div class="col-lg-12" style="padding:0">
      <%= render 'layouts/header' %>
    </div>

    <div class="col col-lg-12" style="border:1px solid black; ">
      <div>edited post is here</div>
    </div> 
  </div>
</div>



 