<div>
  <%= form_with(model: @opinion, local: true) do |f| %>
    <%= f.text_area :Text, placeholder: 'Compose new tweet', class: 'mb-1 form-control' %>
  
     <%= f.submit 'Submit', class: 'mt-2 btn btn-primary' %>
  <% end %>
</div>