<div class="px-1 py-3">

  <h5>Who to Follow</h5>

  <div class="py-2">
      <% @users.each do |user| %>
        <div class="d-flex">
              <div>
                  <% if user[:photo].nil? %>   
                      <%= user_avatar user, size: 40, class:"rounded-circle" %> 
                  <% else %>
                      <div class="d-flex py-2">
                        <%= image_tag user.photo.thumb.url, class:"rounded-circle" %>
                      </div>
                  <% end %> 
              </div>
              <div><div class="pl-2 pt-3"><h6><%= link_to user.fullname, user_path(user) %></h6></div></div>
        </div>   
      <% end %>    
  </div>
</div>
