<div class="px-3 py-3">
  <h5>Who to Follow</h5>

  <div class="d-flex py-2">
    <div>
      <div><img src="https://bulma.io/images/placeholders/48x48.png"></div>
    </div>
    <div class="pl-3">
      <h6>Okikiola</h6>
      <h6>Foolowed by @williams</h6>
    </div>

  </div>
</div>