<div class="px-1 py-3">

  <h5>Who to Follow</h5>

  <div class="d-flex py-2">
    <% unless current_user.following?(@user) %>
      <div>
        <div>
        <%= image_tag current_user.photo.thumb.url, target:"_blank" %></div>
      </div>
      <div class="pl-3">
        <h6><%= current_user.fullname %></h6>
        <div class="followed-by">Followed by @williams</div>
      </div>
    <% end %>
  </div>
</div>