<div class="px-1 py-3">

  <h5>Who to Follow</h5>

  <div class="d-flex py-2">
        <% @following.author.each do |user| %>
              <%= link_to user_path(user), class: 'user' do %>
                <% unless user[:photo].nil? %>
                  <%= image_tag user.photo.thumb.url, class: 'photo' %>
                <% else %>
                  <%= gravatar_for user, size: 50 %>
                <% end %>
                <h6><%= user.fullname %></h6>
              <% end %>
        <% end %>
  </div>
</div>