<%= form_for(current_user.active_followings.build) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.button'<i class="fas fa-plus-circle fa-2x"></i>'.html_safe, class: "btn" %>
<% end %>