<nav class="navbar navbar-expand-lg navbar-light bg-color">
  <a class="navbar-brand" href="#">WEDDING VENDORS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%# <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      %>
    </ul>
    <div class="my-2 my-lg-0">
      <div>
        <span class="mr-sm-4"><i class="fas fa-pencil-alt"></i></span>
        <span class="mr-sm-4"><i class="far fa-envelope"></i></span>
        <span class="mr-sm-4"><i class="far fa-search"></i></span>
        <span class="mr-sm-4"><i class="fas fa-cog"></i></span>
      </div>
    </div>
  </div>
</nav>